In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv("Live.csv")

## Limpieza del dataset

In [20]:
print("El tamaño del dataframe es de",data.shape[0],"filas y",data.shape[1],"columnas.")

El tamaño del dataframe es de 7050 filas y 16 columnas.

In [21]:
data.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

In [23]:
data.drop(['Column1', 'Column2', 'Column3', 'Column4'], axis=1, inplace=True)

In [24]:
data.describe()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
count,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000
mean,230.117163,224.356028,40.022553,215.043121,12.728652,1.289362,0.696454,0.243688,0.113191
std,462.625309,889.636820,131.599965,449.472357,39.972930,8.719650,3.957183,1.597156,0.726812
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,59.500000,4.000000,0.000000,58.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,219.000000,23.000000,4.000000,184.750000,3.000000,0.000000,0.000000,0.000000,0.000000
max,4710.000000,20990.000000,3424.000000,4710.000000,657.000000,278.000000,157.000000,51.000000,31.000000

In [25]:
data.describe(exclude=np.number)

,status_id,status_type,status_published
count,7050,7050,7050
unique,6997,4,6913
top,819700534875473_957599447752247,photo,3/20/2018 1:54
freq,2,4288,3

In [26]:
data.drop(['status_id', 'status_published'], axis=1, inplace=True)

In [27]:
data['status_type'].value_counts()

## Dataset limpio

In [28]:
print("El tamaño del dataframe es de",data.shape[0],"filas y",data.shape[1],"columnas.")

El tamaño del dataframe es de 7050 filas y 10 columnas.

In [29]:
data.head()

,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,video,529,512,262,432,92,3,1,1,0
1,photo,150,0,0,150,0,0,0,0,0
2,video,227,236,57,204,21,1,1,0,0
3,photo,111,0,0,111,0,0,0,0,0
4,photo,213,0,0,204,9,0,0,0,0

Dummys

In [30]:
data = pd.concat([data, pd.get_dummies(data['status_type'], prefix='type')], axis = 1)
data.drop('type_link', axis=1, inplace=True)
data.drop('status_type', axis = 1, inplace = True)
data.head()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,type_photo,type_status,type_video
0,529,512,262,432,92,3,1,1,0,0,0,1
1,150,0,0,150,0,0,0,0,0,1,0,0
2,227,236,57,204,21,1,1,0,0,0,0,1
3,111,0,0,111,0,0,0,0,0,1,0,0
4,213,0,0,204,9,0,0,0,0,1,0,0

Normalizar

In [31]:
data2 = data.drop(['type_photo', 'type_video', 'type_status'], axis=1)
data_n = (data2-data2.mean())/data2.std()
data_n.head()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,0.646058,0.323327,1.686759,0.482692,1.983126,0.196182,0.076708,0.473537,-0.155737
1,-0.173179,-0.252188,-0.304123,-0.144710,-0.318432,-0.147869,-0.175997,-0.152576,-0.155737
2,-0.006738,0.013088,0.129008,-0.024569,0.206924,-0.033185,0.076708,-0.152576,-0.155737
3,-0.257481,-0.252188,-0.304123,-0.231478,-0.318432,-0.147869,-0.175997,-0.152576,-0.155737
4,-0.037000,-0.252188,-0.304123,-0.024569,-0.093279,-0.147869,-0.175997,-0.152576,-0.155737

K-means para k = 2

In [32]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters = 2, n_init = 10)
km.fit(data_n)

KMeans(n_clusters=2)

In [33]:
km.cluster_centers_

In [34]:
km.inertia_

48271.25028500815

In [35]:
data["clust_k"] = pd.Series(km.labels_)

Accuracy

In [36]:
km.score(data_n)

-48271.25028500815

Método del codo

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
import matplotlib.cm as cm

X = np.array(list(zip(data['num_likes'],data['num_shares']))).reshape(len(data['num_likes']), 2)

max_k = 10
K = range(1,max_k)
ssw = []
cmap = cm.get_cmap("Spectral")
color_palette = [cmap(float(i)/max_k) for i in K]
centroid = [sum(X)/len(X) for i in K]
sst = sum(np.min(cdist(X, centroid, "euclidean"), axis = 1))

for k in K:
    kmeanModel = KMeans(n_clusters=k).fit(data)
    
    centers = pd.DataFrame(kmeanModel.cluster_centers_)
    labels = kmeanModel.labels_
    
    ssw_k = sum(np.min(cdist(data, kmeanModel.cluster_centers_, "euclidean"), axis = 1))
    ssw.append(ssw_k)
    
    label_color = [color_palette[i] for i in labels]

#Representación del codo normalizado
plt.plot(K, 1-ssw/sst, "bx-")
plt.title("La técnica del codo normalizado para encontrar el k óptimo")
plt.show()

Probar diferentes k

In [38]:
for n in range(1, 11):
    km = KMeans(n_clusters = n, n_init = 10)
    km.fit(data_n)
    print(f'Puntuación para k = {n}: {km.score(data_n)}')

Puntuación para k = 1: -63441.00000000022
Puntuación para k = 2: -48271.25028500815
Puntuación para k = 3: -38367.57619674105
Puntuación para k = 4: -32465.1857181449
Puntuación para k = 5: -28622.314246924863
Puntuación para k = 6: -25321.700224780485
Puntuación para k = 7: -22129.53353265056
Puntuación para k = 8: -19251.72261833671
Puntuación para k = 9: -17620.358967700104
Puntuación para k = 10: -16221.644254432187